*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI, sans-serif;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#4facfe,#00f2fe);
}

.container{

width:350px;
padding:30px;
border-radius:15px;
background:rgba(255,255,255,0.15);
backdrop-filter:blur(10px);
text-align:center;
color:white;
box-shadow:0 10px 30px rgba(0,0,0,0.2);

}

h1{
margin-bottom:20px;
}

.search-box{

display:flex;
gap:10px;
margin-bottom:20px;

}

.search-box input{

flex:1;
padding:10px;
border:none;
border-radius:8px;
outline:none;

}

.search-box button{

padding:10px 15px;
border:none;
border-radius:8px;
background:#ffffff;
color:#333;
font-weight:bold;
cursor:pointer;
transition:0.3s;

}

.search-box button:hover{

background:#333;
color:white;

}

.weather-info{

margin-top:20px;

}

.temp{

font-size:40px;
font-weight:bold;

}

.condition{

font-size:18px;
margin-top:5px;

}

.extra{

margin-top:15px;
font-size:14px;

}